.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
a {
  color: white;
}

/* footer {
  position: fixed;
  bottom: 10px;
  flex-direction: column;
  align-items: center;
} */
.body {
  position: relative;
}
footer {
  position: fixed;
  bottom: 0;
}
.pincode-label{
  padding: 2px;
  margin-right: 10px;
}
.pincode-text {
  padding: 10px;
}
.btn-availability {
  padding: 10px;
  margin-left: 10px;
  background: azure;
  border-radius: 5px;
}
tr:nth-child(even) {background: #735d5d;}
tr:nth-child(odd) {    background: #282d33;}
.availability-msg {
  margin:10px 0;
}
tr {
  line-height: 30px;
}
sub {
  text-align: center;
  align-items: center;
  width: 50%;
  margin-bottom: 20px;
  font-size: small;
  font-style: italic;
}
td {
  padding: 5px;
}
footer a {
  margin-right: 10px;
}